/*Just to make this a little easier on the eyes while I build it.*/
#homebod{
    text-align: center;
}

html {
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    font-weight: bold;
}

.homebod {
    background: url(/static/photos/DSC00912.JPG) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

.btn {
    background-color: transparent;
    outline-width: 2px;
    outline-style: solid;
    outline-color: white;
}

h1.homebod {
    margin-top: 25%;
    margin-bottom: 3%;
    color: white;
    font-size: 400%;
}

ol {
    margin-left:0;
    padding-left: 0;
}

ol > li {
    list-style:none; /* Disable the normal item numbering */
}

.tags {
    font-weight: bold;
}

.moves {
    padding-left: 1.5em;
}