/*Just to make this a little easier on the eyes while I build it.*/

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: transparent;
    color: #080605;
}

a, a:visited #app-name {
    color: #080605;
}

h1 {
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 500%;
}

#homebod {
    background: url(/static/photos/DSC00912.JPG) no-repeat center center fixed;
    background-size: cover;
}

.homebod{
    padding-top: 13em;
    text-align: center;
    color: white;
}

#make-dance {
    margin-top: 3em;
    background-color: transparent;
    outline-width: 2px;
    outline-style: solid;
    font-size: 150%;
}

h1.homebod {
    margin-top: 25%;
    margin-bottom: 3%;
    color: white;
    font-size: 400%;
}

h2 {
    font-size: 250%;
    padding-bottom: .5em;
    margin-top: 0;
}

h3#app-name {
    text-align: center;
    padding-bottom: 3%;
}

ol
 {
    margin-left:0;
    padding-left: 0;
}

ol > li {
    list-style:none; /* Disable the normal item numbering */
    font-size: 110%;
}

.tags {
    font-weight: bold;
}

.moves {
    padding-left: .7em;
    font-size: 100%;
}

#video {
    padding: 0px;
}

#clear {
    z-index: -1;
    width: 100%;
    height: auto;
}

#tip {
    z-index: 1;
    position: absolute;
}

video {
    width: 100%;
    height: auto;
}

#fun-title {
    font-weight: bold;
}

a, a:visited, a:active {
    color: #1471FF;
}

a:hover {
    color: #AD230D;
    text-decoration: none;
}

#bottom-text {
    text-align: center;
}

#save {
    padding: 20px 20px 20px 0px;
    font-size: 1.25em;
}

#make-again {
    background-color: transparent;
    outline-width: 2px;
    outline-style: solid;
    margin-top: 1em;
    margin-bottom: 4em;
}