{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2">

    <h3>Acknowledgements</h3>

    <p>Many wonderful people were a part of this project.  My thanks to everyone who got involved, but especially to:</p>

    <ul>
      <li>My three fantastic mentors: Lenny, Charlie, and Sarah
      <li>Hackbright fellows (past and present) and staff; especially Stella, Mason, and Denise
      <li><a href="http://www.dougplummer.com/">Doug Plummer</a> for generously sharing his contra videos
      <li>Wei, Sony, and the Dance Hack Day dancers
      <li>My bicoastal geeky dance crew: Maia, Ari, Antal, Matt, Steve, Elaina, and especially Nate
      <li>M.J. for her outstanding generosity and overall wonderfulness
      <li>My family in Boston for endless support despite the radio silence
    </ul>

  </div>
</div>

{% endblock %}