<!doctype html>
{% block html %}<html>{% endblock %}
<head>
    <title>This is an app.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css">

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>

<body>
    {% block content %} content goes here {% endblock %}

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div>
        <ul class="nav navbar-nav">
          <li><a href="https://github.com/ohrely">github</a></li>
          <li><a href="http://ohrely.com">blog</a></li>
          <li><a href="https://www.linkedin.com/in/ohrely">linkedin</a></li>

          <li><a href="/ack">acknowlegements</a></li> 
        </ul>
      </div>
    </div>
  </nav>

</body>
</html>