<!doctype html>
{% block html %}<html>{% endblock %}

<head>
    <title>This is an app.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css">

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>

<body>
  {% block title %}
    <a href="/"><h3 id="app-name">The Dancerator</h3></a>
  {% endblock %}

  {% block content %} content goes here {% endblock %}

<!--   <nav class="navbar navbar-default">
        <div class="container-fluid">
            <span class="navbar-brand">Ubermelon</span>
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#right-navbar" aria-controls="right-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse" id="right-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">About</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contact</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Shop</a></li>
                </ul>

                <ul  class="nav navbar-nav navbar-right">
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Login</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Favorite Melons</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Settings</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Profile</a></li>
                </ul>
            </div>
        </div>
    </nav> -->

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bottom-navbar" aria-controls="bottom-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
      </button>

      <div class="navbar-collapse collapse" id="bottom-navbar">
        <ul class="nav navbar-nav">
          <li><a href="https://github.com/ohrely">github</a></li>
          <li><a href="http://ohrely.com">blog</a></li>
          <li><a href="https://www.linkedin.com/in/ohrely">linkedin</a></li>

          <li><a href="/ack">acknowlegements</a></li> 
        </ul>
      </div>
    </div>
  </nav>

</body>
</html>