<!doctype html>
<html>
<head>
    <title>This is an app.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    
    <script src="http://code.jquery.com/jquery.js"></script>
</head>


<body>
    <nav>This will be a nav bar.</nav>

    {% block content %} content goes here {% endblock %}

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div>
        <ul class="nav navbar-nav">
          <li><a href="/">Links to me</a></li>
          <li><a href="/">Acknowlegements</a></li> 
        </ul>
      </div>
    </div>
  </nav>

</body>
</html>