{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <h2>{{ title }}</h2>

        <ol id="choreo">
        {% set tags = ["A1", "A2", "B1", "B2"] %}
        {% set i = 0 %}
        {% for phrase in dance %}
            <li>
              <span class="tags">({{ tags[i] }})</span>
                {% for move in phrase %}
                  <span class="moves">
                    {{ move }}
                  </span>
                {% endfor %}
            </li>
            {% set i = i + 1 %}
        {% endfor %}
        </ol>
      </div>

      <div class="col-xs-12 col-md-5" id="video">
        <div id="clips">
          <h3>Click on one of the moves to preview it here.</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-md-6 col-xs-offset-1 col-md-offset-3">
        <p id="save">Look fun?  To find this choreography later, bookmark this page.  <span id="fun-title">{{ title }}</span> will be waiting for you.</p>
      </div>
    </div>
  </div>

  <script src="../static/main.js"></script>

{% endblock %}