{% extends 'base.html' %}

{% block html %}

  <html id="homebod">

{% endblock %}

{% block title %}{% endblock %}

{% block content %}

  <div class="homebod" class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1>The Dancerator</h1>
        <h4>Computer-Created Contra Choreography</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-lg btn-secondary" onclick="location.href='/new';" id="make-dance">Make me a dance!</button>
      </div>
    </div>
  </div>

{% endblock %}