{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <h3 id="app-name">The Dancerator</h3>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <h2>{{ title }}</h2>

        <ol id="choreo">
        {% set tags = ["A1", "A2", "B1", "B2"] %}
        {% set i = 0 %}
        {% for phrase in dance %}
            <li>
              <span class="tags">({{ tags[i] }})</span>
                {% for move in phrase %}
                  <span class="moves">
                    {{ move }}
                  </span>
                {% endfor %}
            </li>
            {% set i = i + 1 %}
        {% endfor %}
        </ol>
      </div>

      <div class="col-xs-12 col-md-5 col-md-offset-1" id="video">
        <div id="clips">
          <h3>Click on one of the moves at the left to see it here.</h3>
          <video src="../static/petr.mp4" autoplay="True" type="video/mp4"></video>
        </div>

        <script>
          var vids = new Object();

          vids["allemande"] = "allemande.mp4";
          vids["box the gnat"] = "gnat.mp4";
          vids["california"] = "cal.mp4";
          vids["chain"] = "chain.mp4";
          vids["magnetize"] = "magnetize.mp4";
          vids["petronella"] = "petr.mp4";
          vids["star"] = "star.mp4";
          vids["swing"] = "petr.mp4";
          // vids[""] = ".mp4";

          var vidKeys = Object.keys(vids);
          var vidsNum = vidKeys.length;

          for (i=0; i < vidsNum; i++){
            $('#choreo').each(function() {
              var text = $(this).html();
              $(this).html(text.split(vidKeys[i]).join('<a class="visual_move" data-url="../static/' + vids[vidKeys[i]] + '">' + vidKeys[i] + '</a>'));
            });
          }

          $('.visual_move').on('click', function(evt){
            console.log($(this).data("url"));
            playMove($(this).data("url"));
          });

          function playMove(moveId){
            $('#clips').html('<video src=' + moveId + ' autoplay="True" type="video/mp4"></video>');
          }
        </script>
      </div>
    </div>
  </div>

{% endblock %}