{% extends 'base.html' %}
{% block content %}
  <div id="choreo">
    <h1>{{ title }}</h1>
    {% for phrase in dance %}
        <li>
          {% for move in phrase %}
            {% if move|length == 2 %}
              <span class="visual_move" data={{ move[1] }}>
                {{ move[0] }}
              </span>
            {% else %}
              {{ move }}
            {% endif %}
          </span>
          {% endfor %}
        </li>
    {% endfor %}
  </div>

  <div id="clips">
    <h2>Visualize this!<h2>

    <div width="500px" id="clips">
      <img src="../static/something.gif"></img>
    </div>
  <script>
    $('.visual_move').on('click', function(){playMovie(data); });

    function playMove(moveId){
      $('#clips').innerHTML('<video src=' + movieId + 'autoplay></video>')
    }
  </script>
  </div>
{% endblock %}